<h1>Posts</h1>

<script type="text/x-handlebars">
  {{ view App.ListPostsView }}
</script>

<script type="text/javascript">
  $(function() {
    App.postsController.loadAll(<%= @posts.to_json.html_safe %>);
  });
</script>

