<!DOCTYPE html>
<html>
<head>
  <title>EmberRailsCoffee Demo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p>Highly inspired by <a href="http://www.cerebris.com/blog/2012/01/20/warming-up-to-ember-js/">Warming up to Ember.js by Dan Gebhardt</a></p>
<%= yield %>

</body>
</html>
